
# Sample SUNAT configuration

SUNAT.configure do |config|
  config.credentials do |c|
    c.ruc       = ENV['SUNAT_RUC']
    c.username  = ENV['SUNAT_USERNAME']
    c.password  = ENV['SUNAT_PASSWORD']
  end
  
  config.signature do |s|
    s.party_id    = "20100454523"
    s.party_name  = "SOPORTE TECNOLOGICO EIRL"
    s.cert_file   = File.join(Dir.pwd, 'keys', 'sunat.crt')
    s.pk_file     = File.join(Dir.pwd, 'keys', 'sunat_decrypted.key')
  end

  config.supplier do |s|
    s.ruc        = "20100454523"
    s.name       = "SOPORTE TECNOLOGICO EIRL"
    s.address_id = "070101"
    s.street     = "Calle los Olivos 234"
    s.city       = "Lima"
    s.district   = "Callao"
    s.country    = "PE"
  end
end

